<div class="container">
	<h1>Angular Directives</h1>
	<p appStyle="red" [dStyles]="{border: '1px solid blue', borderRadius:'5px', fontWeight: 'bold'}">Lorem ipsum dolor
		sit, amet consectetur
		adipisicing elit.
		Reiciendis, enim?
	</p>
	<p appStyle="blue" [dStyles]="{border: '4px solid green', borderRadius:'15px', fontWeight: 'bold'}">Lorem ipsum dolor
		sit, amet consectetur
		adipisicing elit.
		Reiciendis, enim?
	</p>
	<button (click)="isVisible = !isVisible">Toggle</button>
	<!--<div class="wrap" *ngIf="isVisible">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error cum id eaque dolorum modi explicabo assumenda
			neque facere sint voluptatum!</p>
	</div>

	-->
	<div class="wrap" *appIfNot="!isVisible">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error cum id eaque dolorum modi explicabo assumenda
			neque facere sint voluptatum!</p>
	</div>

	<button class="btn" (click)="stop()">Stop interval!</button>
	<button class="btn btn-danger" (click)="next()">Next value!</button>
</div>